@import '../variables.scss';

.about_me_container {
    background-color: $primaryBlueGreenLight;
    .about_me_wrapper {
        width: 80%;
        margin: auto;
        text-align: center;
        .about_me_content {
            margin: 7rem 0;
            display: inline-block;
            .about_me_avatar {
                position: relative;
                img {
                    height: 250px;
                    width: 200px;
                    object-fit: none;
                }

            }
            .about_me_headers {
                margin: 10px 0 0; 
                color: $primaryWhite;
                font-size: 63px;
                font-weight: 500;
            }
            .about_self_title {
                color: $primaryWhite;
                font-size: 26px;
                font-weight: 300;
            }
            .icon {
                font-size: 60px;
                color: $primaryWhite;
                &:hover {
                    @extend %rainbow_color_animation_text;
                    i {
                        background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                } 
            }
        }
    }
}