@import '../variables.scss';

.services_container {
    .services_wrapper {
        width: 65%;
        margin: 40px auto;
        text-align: center;
        .services_content {
            .header {
                color: $primaryBlueDark;
                font-size: 59px;
                font-weight: 500;
                margin-bottom: 0;
            }
            .body_icon {
                position: relative;
                text-align: center;
                color: $primaryBlueDark;
                font-size: 40px;
                margin-bottom: 10px; 

                &:before{
                    content: '';
                    width: 10%;
                    border-bottom: solid 3px $primaryBlueDark;
                    position: absolute;
                    right: 50%;
                    transform: translateX(-35px);
                    top: 50%;
                    z-index: 1;
                }
                &:after {
                    content: '';
                    width: 10%;
                    border-bottom: solid 3px $primaryBlueDark;
                    position: absolute;
                    left: 50%;
                    transform: translateX(35px);
                    top: 50%;
                    z-index: 1;
                }
            }
            .services_list {
                width: 100%;
                margin: 0;
                .services_item_container {
                    padding: 5px;
                }
            }
        }
    }
}