.user_details_info {
    padding-top: 15px;
    section {
        .headers {
            margin-right: 5px;
            padding-bottom: 16px;
            font-size: 20px;
            font-weight: 700;
            text-align: end;
            border-bottom: 1px solid #dbdbdb;
        }
        .content_text {
            margin:0 5px 10px;
        }
    }
}